employeeList {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}
employee {
  display: block;
  margin-bottom: 20px;
}
name {
  font-weight: bold;
}
phones {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
phone {
  display: inline-block;
  margin-right: 10px;
}
address {
  display: block;
  margin-bottom: 10px;
}
street,
building,
number,
region,
city,
country {
  display: block;
}
email {
  display: block;
  font-style: italic;
  color: #666;
}
